<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p" 
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-4.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.2.xsd 
    ">
	<!--配置Bean  -->
	<bean id="arithmeticCalculatorImpl" class="cn.hjycjc.spring.spring_basis.aop_xml.ArithmeticCalculatorImpl"></bean>
	<!--配置aspect的Bean  -->
	<bean id="loggingAspect" class="cn.hjycjc.spring.spring_basis.aop_xml.LoggingAspect"></bean>
	<bean id="validationAspect" class="cn.hjycjc.spring.spring_basis.aop_xml.ValidationAspect"></bean>
	<!--配置AOP  -->
	<aop:config>
		<!--配置切入表达式  -->
		<aop:pointcut expression="execution(* cn.hjycjc.spring.spring_basis.aop_xml.ArithmeticCalculator.*(..))" id="pointcut"/>
		 
		<!--配置切面和通知  -->
		<aop:aspect ref="loggingAspect" order="5">
			<aop:before method="beforeMethed" pointcut-ref="pointcut"/>
			<aop:after method="afterMethod" pointcut-ref="pointcut"/>
			<aop:after-returning method="afterReturningMethod" pointcut-ref="pointcut" returning="result"/>
			<aop:after-throwing method="afterThrowingMethod" pointcut-ref="pointcut" throwing="e"/>
		</aop:aspect>
		<!--配置第二个切面和通知 -->
		<aop:aspect ref="validationAspect" order="4">
			<aop:before method="beforeMethodVlidation" pointcut-ref="pointcut"/>
		</aop:aspect>
		
	</aop:config>
</beans>