<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p" 
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-4.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.2.xsd 
    ">
   <bean id="car" class="cn.hjycjc.spring.spring_basis.autowire.Car">
   		<property name="brand" value="Audi"></property>
   		<property name="price" value="400000"></property>
   </bean>
   <bean id="address" class="cn.hjycjc.spring.spring_basis.autowire.Address">
   		<property name="city" value="BeiJing"></property>
   		<property name="street" value="ShangDi"></property>
   </bean>
   <!--autowire自动装配Bean  -->
   <bean id="person" class="cn.hjycjc.spring.spring_basis.autowire.Person" p:name="Roy" 
   autowire="byName">
   </bean>
</beans>