<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p" 
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-4.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.2.xsd 
    ">
    
   <!--父子bean -->
   <bean id="address" class="cn.hjycjc.spring.spring_basis.autowire.Address">
   		<property name="city" value="BeiJing"></property>
   		<property name="street" value="ShangDi"></property>
   </bean>
    <bean id="address2" p:street="HuiLongGuan" parent="address">
   </bean>
	<!-- abstract抽象Bean ,可以作为模板-->
	<bean id="car3" 
	p:brand="Audi" p:price="380000" abstract="true">
   </bean>
   <bean id="car1" class="cn.hjycjc.spring.spring_basis.autowire.Car" parent="car3"></bean>
   <bean id="car2" class="cn.hjycjc.spring.spring_basis.autowire.Car" p:brand="BaoMa" p:price="1890000"></bean>
   <!-- Bean的依赖关系  -->
   <bean id="person" class="cn.hjycjc.spring.spring_basis.autowire.Person" p:name="Nack" p:car-ref="car1"></bean>
</beans>